$color-primary: #00b4d8;
$color-primary-light: #ade8f4;
$color-primary-lighter: #caf0f8;
$color-primary-regular: #00b4d8;
$color-primary-dark: #0096c7;
$color-primary-darker: #023e8a;
$color-white: #fff;
$color-black: #212121;
